# Datasets and large files
*.csv
*.zip
*.tar.gz
data/

# Python and Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments (if you use them locally)
venv/
.env

# AWS/AutoGluon specific artifacts
AutogluonModels/
EOT